.team-container {
  margin: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 5%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5), 0 0 5px rgba(0, 0, 0, 0.5),
    0 0 15px rgba(0, 0, 0, 0.5);
}

.team-container h3 {
  text-align: center;
}

.member-container {
  display: flex;
}
.member-single {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  padding: 10px;
}
.member-single img {
  width: 100px;
  border-radius: 50%;
}

.member-single p {
  text-align: center;
}

.buttons-team {
  text-align: center;
  border: none;
  margin: 20px;
}

.delete {
  color: #e74c3c;
  font-size: 20px;
  background: white;
  border: none;
  margin: 5px;
}

.edit {
  color: #3498db;
  font-size: 20px;
  background: white;
  border: none;
  margin: 5px;
}
